* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
** mapa
*/

$estilo: (
    color_1:  #000000,
    color_2: #1C252C,
    color_3: #212020
);

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;

    main {
        flex: 1 3 0;
    }
}

.navbar {
    display: flex;
    justify-content: flex-end;

}

.carousel_conteiner {
    display: flex;
    justify-content: center;
    

    img {
        width: 40vw;
        min-width: 86vw;
    }
}

.card_conteiner_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-bottom: 3%;
    gap: 3rem;

    img {
        &:hover{
            opacity: 0.5;
        }
    }
}

.logo {
    width: 3rem;
}

/**
** Estilo de contacto
*/
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;
        height: auto;
        width: 60%;
        margin: auto;
        margin-top: 4rem;
    
        .form-control {
            width: 100%;
        }


        .btn {
            background-color: black;
            border-color: grey;
            width: 100%;
        }
    }

}

/**
** Estilo de Peliculas
*/
.titulo_series {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;
}

.series {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    
    img {
        &:hover{
            opacity: 0.5;
        }
    }
}

.titulo_pelicula {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.peliculas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
    
    img {
        &:hover{
            opacity: 0.5;
        }
    }
    

    a {
        display: flex;
        justify-content: center;
    }


    .img-fluid {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

/**
** Estilo de Tienda
*/

.cards_conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;

    img {
        &:hover{
            opacity: 0.5;
        }
    }

    .btn {
        background-color: map-get($estilo , color_1);
        border-color: map-get($estilo, color_1 );
    
    }
}

